table {
    width: 100%;
    font-family: 'Lato';
}
.headerRow {
    background-color: #e4e4e4;
}
.flightNo {
    font-family: 'Lato';
    margin: auto;
    font-weight : bold;  
}

th {
    font-size: 13px;
    font-weight : bold;  
    text-align: center !important;
    height: 35px;
}
td {    
    font-size: 12px;
    height : 65px;  
    text-align: center;
    background-color: #FCF7FF;
    padding: 0px;
}
.table_div {
    overflow: auto;
    max-height: 425px;
}

.cancelBtn {
    margin-left: 20px;
    color: #0361aa;
    background: none;
    display: inline-flex;
    height: 24px;
    border-radius: 10px;
    border: none;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}
.saveBtn {
    margin-left: 20px;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    background: #196fb1;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 80px;
}

.deleteIconDiv {
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin: auto;
}
.deleteIconDiv span {
    font-size: 50px;
    padding-left: 10px;
    padding-top: 10px;
}
